.page {
  background-color: transparent;
  /*height: auto;*/
  width: 180px;
  transition: transform 0.2s;
  cursor: pointer;
  border: dashed #d4d4d4;
  color: #d4d4d4;
  box-sizing: border-box;
  border-radius: 3px;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: border-color .2s ease, color .2s ease;
}

.page:hover {
  border-color: #bcbcbc;
  color: #bcbcbc;
}

.link {
  text-decoration: none;
  padding: 10px;
  min-height: 250px;
  display: flex;
}

.plus {
  text-align: center;
  font-size: 70px;
  line-height: 1;
  font-weight: 300;
}

.title {
  margin-top: 14px;
  text-align: center;
  font-size: 24px;
  user-select: none;
  font-weight: 300;
}
