.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
  /*max-height: 75vh;*/
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

input {
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 12px;
  background-color: #EFEFEF;
  flex: 0 0 auto;
}

.newHeader {
  background-color: #2BC3A1;
}

.title {
  font-size: 12px;
  color: rgba(0,0,0,0.35);
  margin-bottom: 2px;
  font-weight: 400;
}

.newTitle {

}

.name {
  font-size: 32px;
  line-height: 1;
  font-weight: 300;
}

.content {
  color: #888888;
  width: 100%;
  background: transparent;
  border: 0;
  appearance: none;
  outline: 0;
  font-weight: 300;
}

.newContent {
  color: white;
}

.link {
  font-size: 18px;
}

.header input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.2);
}

.header input::-moz-placeholder {
  color: rgba(0,0,0,0.2);
}

.header input:::-moz-placeholder {
  color: rgba(0,0,0,0.2);
}
.header input::-ms-input-placeholder {
  color: rgba(0,0,0,0.2);
}

.newHeader input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.newHeader input::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}

.newHeader input:::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
.newHeader input::-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  margin-top: 20px;
}

.cardImageWrapper {
  position: relative;
  flex: 1 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #F7F7F7;
  min-height: 150px;
}

.cardImage {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
