.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #F1F1F1;
  justify-content: center;
  align-items: center;
}

.content {
  width: 350px;
  display: flex;
  flex-direction: column;
  /*height: 75vh;*/
}

.buttonContainer {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  align-items: center;
}

.buttonContainer img {
  display: block;
}

.actionButtonContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.deleteIcon {
  height: 18px;
  padding: 10px;
  cursor: hand;
  cursor: pointer;
}

.button {
  height: 18px;
  line-height: 1;
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
  flex: 0 0 auto;
  font-weight: 300;
}

.cancelButton {
  color: #A3A3A3;
}

.saveButton {
  border-radius: 3px;
  color: white;
  background-color: #2BC3A1;
}

.saveButton:hover {
  color: #2BC3A1;
  background-color: white;
}
